<div class="<%= content_for?(:whole_page) ? 'container-fluid' : 'container'%>">
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |key, message| %>
          <div class="text-center alert alert-<%= key == 'notice'? 'success': 'danger' %>">
            <%= message %>
          </div>
      <% end %>
      <%= yield %>
      <%= yield :whole_page %>

    </div>
  </div>
</div>