<h1 class="text-center">
  Editing Exercise for <%= current_user.full_name %>
</h1>

<%= render 'form' %>

<%= link_to 'back', user_exercises_path(current_user), class: 'btn btn-default btn-lg link', id: 'back-btn' %>