<% content_for(:whole_page) do %>
    <div class="col-md-7 col-xs-12">
      <% unless @exercises.empty? %>
          <h1>Listing Exercises</h1>

          <table class="table table-stripped">

            <thead>
            <tr>
              <th>Duration (min)</th>
              <th>Workout details</th>
              <th>Activity date</th>
              <th colspan="3"></th>
            </tr>
            </thead>


            <tbody>
            <% @exercises.each do |exercise| %>
                <tr>
                  <td><%=exercise.duration_in_minute %></td>
                  <td><%= truncate(exercise.workout, length: 100) %></td>
                  <td><%= exercise.workout_date %></td>
                  <td><%= link_to 'Show', [current_user, exercise] %></td>
                  <td><%= link_to 'Edit', [:edit, current_user, exercise ] %></td>
                  <td><%= link_to 'Destroy', [current_user, exercise], method: :delete, data: {confirm: 'Are you sure?'} %> </td>
                </tr>
            <% end %>
            </tbody>
            <br>



          </table>
          <br>

          <br>


      <% else %>
          <div class="alert alert-danger message-front text-center" role="alert">
            No Workouts Yet
          </div>
          <br>

      <% end %>


      <%= link_to 'New Workout', new_user_exercise_path(current_user), class: 'btn btn-success link' %>


      <%= content_tag :div, "", id: "chart", data: {workouts: @exercises} %>
    </div>



    <div class="col-md-5 col-xs-12">
      <div id="chat-window" class="col-md-12">
        <header class="text-center">Channel: <%= current_room.name %></header>

        <div class="col-md-2" id="followers">
          <% @followers.each do |follower| %>
              <%= %>
              <%= link_to follower.user.full_name, user_exercises_path(current_user, roomId: follower.user.room.id), class: 'followers' %>
              <br />
          <% end %>
        </div>

        <div class="col-md-10" id="messages-box">
          <div id="chat-box" data-chanel="rooms" data-room-id=<%= current_room.id %>>
            <% @messages.each do |message| %>
                <%= render partial: 'shared/message', locals: {message: message} %>
            <% end %>
          </div>

        </div>
        <div id="form-box">
          <%= form_for @message do |f| %>
              <%= f.text_field :body, id: 'message-field', class: 'form-control pull-left' %>
              <%= f.submit 'Send', class: 'btn btn-default', id: 'post-btn' %>
          <%end%>
        </div>
        </div>

      <h1 class="text-center"> My Friends</h1>
      <% @friends.each do |friend| %>
          <div class="col-md-offset-3 col-md-6 friend_name">
            <%= link_to friend.full_name, friendship_path(current_user.current_friendship(friend)) %>
          </div>
          <div class="col-md-3">
            <div class="btn-unfollow">
              <%= link_to 'Unfollow', friendship_path(current_user.current_friendship(friend)), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-success' %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

