<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>

    <%= render'shared/header' %>
    <%= render'shared/main' %>
    <%= render'shared/footer' %>


  </body>
</html>
